/* Style par défaut (écran de bureau) - Résolution 1400x1050 */

@media only screen and (min-width: 1025px) and (max-width: 1399px) {

/* Header */

.level-box {
font: normal 100%/1 "bangers", Helvetica, sans-serif;
}

.dollar-box {
font: normal 100%/1 "bangers", Helvetica, sans-serif;
}

.token-box {
font: normal 100%/1 "bangers", Helvetica, sans-serif;
}

.quit-box {
font: normal 100%/1 "bangers", Helvetica, sans-serif;
}
	
/* Page Home */

.flex-container-playerPropriety > a {
    height: 80px;
}
#experience {
    margin-top: 30px;
}

.flex-container-teamGoodies > a {
    height: 60px;
}

.flex-container-experience > a {
    height: 60px;
}

.flex-container-event > a {
    height: 60px;
}

.flex-container-news > a {
    height: 120px;
}

.imgModalProprieteFlags {
    top: 4px;
    height: 60px;
    width: 60px;
}

.modal-Propriete {
    top: 8px;
}

.modal-ProprietePlace {
    top: 8px;
}

.textTitle {
    top: 14px;
}

.textXP {
    top: 14px;
}

.textEvent {
    top: 14px;
}

/* Menu */

#dock-container {
height: 70px;
padding: 0;
margin: 0;
bottom: 0;
background-color: orangered;
border: none;
border-top: 4px solid darkred;
}

#dock-container li#active img {
-webkit-transform: scale(1.65);
margin: 0 0.5em;
}

#dock-container li {
width: 17%;
padding: 0;
margin: 0;
list-style-type: none;
display: inline-block;
position: relative;
padding-top: 10px;
}

#dock-container ul {
width: 100%;
padding-left: 0px;
padding-right: 0px;
margin-bottom: 0;
}

#dock-container li img {
width: 48px;
height: 48px;
-webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255,255,255,.5)));
-webkit-transition: all 0.3s;
-webkit-transform-origin: 50% 100%;
}

#dock-container li:hover img { 
-webkit-transform: scale(1.65);
margin: 0 0.5em;
}
	
#dock-container li:hover + li img, #dock-container li.prev img {
-webkit-transform: scale(1);
margin: 0 0;
}

#dock-container li span {
display: none;
position: absolute;
bottom: 0px;
left: 0;
width: 100%;
background-color: rgba(0,0,0,0.5);
border-radius: 5px;
}

#dock-container li#active span {
display: none;
position: absolute;
bottom: 0px;
left: 0;
width: 100%;
background-color: rgba(0,0,0,0.5);
border-radius: 5px;
}

#dock-container li#active span {
display: block;
color: #fff;
}

#dock-container li#active .textMenu {
font: normal 120%/1 "bangers", Helvetica, sans-serif;
padding: 2px;
}
	
#dock-container li:hover span {
display: block;
color: #fff;
}

#dock-container .textMenu {
font: normal 120%/1 "bangers", Helvetica, sans-serif;
padding: 2px;
}

}

