/* Grand écran */

@media only screen and (min-width: 769px) and (max-width: 1024px) {

.container-fluid {
max-width: 800px;
padding: 0;
margin: 0 auto;
}

#footer {
position: fixed;
max-width: 800px;
position: absolute; 
bottom: 0;
text-align: center;
margin: 0;
padding: 0;
}

#footer2 {
position: fixed;
bottom: 0;
max-width: 800px;
text-align: center;
margin: 0;
padding: 0;
}	

/* Header */

#header {
max-width: 800px;
z-index: 1;
width: 100%;
padding: 0;
}

.level-box {
font: normal 90%/1 "bangers", Helvetica, sans-serif;
}

.dollar-box {
font: normal 90%/1 "bangers", Helvetica, sans-serif;
}

.token-box {
font: normal 90%/1 "bangers", Helvetica, sans-serif;
}

.quit-box {
font: normal 90%/1 "bangers", Helvetica, sans-serif;
}

/* Page Home */

.flex-container-playerPropriety > a {
height: 70px;
font-size: 70%;
}
#experience {
margin-top: 50px;
}

.flex-container-teamGoodies > a {
height: 60px;
}

.flex-container-experience > a {
height: 60px;
}

.flex-container-event > a {
height: 60px;
}

.flex-container-news > a {
height: 120px;
}

.imgModalProprieteFlags {
top: 0;
height: 60px;
width: 60px;
}

.modal-Propriete {
top: 3px;
}

.modal-ProprietePlace {
top: 3px;
}

.textTitle {
top: 16px;
font: normal 150%/1 "bangers", Helvetica, sans-serif;
}

.textXP {
top: 15px;
font: normal 180%/1 "bangers", Helvetica, sans-serif;
}

.textEvent {
top: 15px;
font: normal 180%/1 "bangers", Helvetica, sans-serif;
}

.imgNews {
max-height: 95px;
}

#proprieteJoueur {
margin-top: 35px;
}

.newsTitle {
    font: normal 100%/1 "bangers", Helvetica, sans-serif;
}

/* Menu */

#dock-container {
height: 70px;
padding: 0;
margin: 0;
bottom: 0;
background-color: orangered;
border: none;
border-top: 4px solid darkred;
}

#dock-container li#active img {
-webkit-transform: scale(1.65);
margin: 0 0.5em;
}

#dock-container li {
width: 17%;
padding: 0;
margin: 0;
list-style-type: none;
display: inline-block;
position: relative;
padding-top: 6px;
}

#dock-container ul {
width: 100%;
padding-left: 0px;
padding-right: 0px;
margin-bottom: 0;
}

#dock-container li img {
width: 53px;
height: 53px;
-webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255,255,255,.5)));
-webkit-transition: all 0.3s;
-webkit-transform-origin: 50% 100%;
}

#dock-container li:hover img { 
-webkit-transform: scale(1.65);
margin: 0 0.5em;
}

#dock-container li:hover + li img, #dock-container li.prev img {
-webkit-transform: scale(1);
margin: 0 0;
}

#dock-container li span {
display: none;
position: absolute;
bottom: 0px;
left: 0;
width: 100%;
background-color: rgba(0,0,0,0.5);
border-radius: 5px;
}

#dock-container li#active span {
display: none;
position: absolute;
bottom: 0px;
left: 0;
width: 100%;
background-color: rgba(0,0,0,0.5);
border-radius: 5px;
}

#dock-container li#active span {
display: block;
color: #fff;
}

#dock-container li#active .textMenu {
font: normal 90%/1 "bangers", Helvetica, sans-serif;
padding: 2px;
}

#dock-container li:hover span {
display: block;
color: #fff;
}

#dock-container .textMenu {
font: normal 90%/1 "bangers", Helvetica, sans-serif;
padding: 2px;
}

/* Titre de toutes les box */

.flex-container-modal-box-title h1 {
font: normal 120%/1 "bangers", Helvetica, sans-serif;
}

/* Page des avatars */

.flex-container-modal-avatar-img-gd > div {
margin-bottom: 5px;
}	

.flex-container-modal-box-avatar > div {
margin: 1px;
}

.flex-container-modal-avatar-gender > div {
margin-bottom: 0;
}

.flex-container-modal-avatar-shape > div {
margin-bottom: 3px;
}

.flex-container-modal-avatar-color > div {
margin-bottom: 2px;
}

.btn {
font: normal 110%/1 "bangers", Helvetica, sans-serif;
}

.textModalMenuAvatar {
font: normal 110%/1 "bangers", Helvetica, sans-serif;
top: 1px;
}

}

